<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<a href="/add">Add a Person</a><br/>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr th:each="person:${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.email}"></td>
        <td th:text="${person.phone}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${person.id})}"> Update</a> -
            <a th:href="@{/detail/{id}(id=${person.id})}"> Details </a>-
            <a th:href="@{/delete/{id}(id=${person.id})}">Delete </a>

        </td>
    </tr>
</table>
</body>
</html>