<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/process}" th:object="${person}" method="post">
    Name: <input type="hidden" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br />

    Email: <input type="hidden" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br />
    
    Phone: <input type="hidden" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span><br />




</form>

</body>
</html>